{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1 class="text-center my-4">Home</h1>
            </div>
            <div class="col-12">
                {% if app.user %}
                    <h4>Bienvenue {{ app.user.lastname }} {{ app.user.firstname }}</h4>

                    <div class="card shadow mt-5">
                        <div class="card-header">
                            <a href="{{ path('dashboard_list', {'user': app.user.id}) }}">Vos tableaux de bord</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}