{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Home</h1>

    {% if app.user %}
        <p>Bonjour {{ app.user.email }}</p>
        <p>Votre id : {{ app.user.id }}
        <p>Dashboard</p>
    {% endif %}
{% endblock %}