{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1 class="text-center my-4">Home</h1>
            </div>
            <div class="col-12">
                {% if app.user %}
                    <p>Bienvenue {{ app.user.lastname }} {{ app.user.firstname }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}